<div class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom
shadow-sm fixed-top">
    <img src="../../assets/logo.png" style="max-height: 50px; max-width: 50px;" alt="logo">

    <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size: larger;">
        <a href="#" class="p-2 text-dark" style="text-decoration: none;">Pocetna</a>
        <a href="#" class="p-2 text-dark" style="text-decoration: none;">Prodavnica</a>
        <a href="#" class="p-2 text-dark" style="text-decoration: none;">Kontakt</a>
    </nav>
    <div class="d-flex align-items center">
        <a class="position-relative">
            <i class="fa fa-shopping-cart fa-2x m-2 text-dark"></i>
            <div class="cart-no">5</div>
        </a>
        <a href="#" class="btn btn-outline-secondary m-2">Login</a>
        <a href="#" class="btn btn-outline-secondary m-2">Sign up</a>
    </div>
</div>