<div class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 border-bottom
shadow-sm fixed-top" style="background-color: rgb(171, 237, 211);">
    <img src="../../assets/logo.png" routerLink="/" style="max-height: 85px; max-width: 85px; margin-left: 1.5rem;"
        alt="logo">

    <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size: larger;">
        <a href="#" [routerLink]="['/']" [routerLinkActive]="['active']" class="p-2 "
            style="text-decoration: none;">Pocetna</a>
        <a href="#" [routerLink]="['/shop']" [routerLinkActive]="['active']" class="p-2 t"
            style="text-decoration: none;">Prodavnica</a>
        <a href="#" class="p-2 " style="text-decoration: none;">Kontakt</a>
    </nav>
    <div class="d-flex align-items center">
        <a class="position-relative" routerLink="/cart">
            <i class="fa fa-shopping-cart fa-2x m-2 text-dark"></i>
            <div class="cart-no">5</div>
        </a>
        <a href="#" class="btn btn-outline-secondary m-2">Login</a>
        <a href="#" class="btn btn-outline-secondary m-2">Sign up</a>
    </div>
</div>