<div class="d-flex justify-content-center mt-4">
    <div class="col-3">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <h1 class="h3 mb-3 font-weight-normal">Ulogujte se</h1>

            <label for="inputEmail" class="sr-only">Email</label>
            <input formControlName="email" type="email" id="inputEmail" class="form-control"
                placeholder="E-mail adresa">

            <label for="inputPassword" class="sr-only">Lozinka</label>
            <input formControlName="password" ype="password" id="inputPassword" class="form-control"
                placeholder="Lozinka">

            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>
    </div>
</div>